<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dojo Survey Submitted</title>
</head>
<body>
    <main>
        <h1>Submitted Results</h1>
        <p>
            Name: @ViewBag.name<br>
            Location: @ViewBag.location<br>
            Language: @ViewBag.language!!!<br>
            Comment: @ViewBag.comment<br>
            </p>
        <a href="/"><button>Go Back</button></a>
    </main>
</body>
</html>