<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Date and Time</title>
</head>
<body>
    <main>
        <p>The current time and date:</p>
        @{
        DateTime CurrentTime = DateTime.Now;
        <h1>@CurrentTime</h1>
        }
    </main>
</body>
</html>